body {
  background-color: #FFE066;
  height: 100vh;
}

.container {
  position: relative;
  height: 100%;
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

input[type=text] {
  padding: 20px;
  border: none;
}

#month {
  margin-left: 10px;
}

#month, #date {
  margin-right: -3px;
  width: 20px;
}

#year {
  width: 50px;
}

#generate {
  margin: 10px auto 0;
  padding: 20px;
}

.url-container {
  margin-top: 20px;
  font-size: 20px;
}

#reset {
  font-size: 19px;
  display: block;
  margin-top: 10px;
  color: #666;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

a {
  text-decoration: underline;
}

output {
  display: block;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

output {
  font-size: 20px;
}

second, day, hour, minute {
  padding: 10px;
  display: inline-block;
  width: 30px;
  font-size: 25px;
  background-color: #333;
  color: #fff;
  position: relative;
}
